<div class="sockeye-container mdl-grid"></div>

<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored sockeye-fab">
    <i class="material-icons">clear</i>
</button>

<script>

    injectPad = function(container) {
        let pad = document.createElement("div");
        pad.className = "mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone";
        container.appendChild(pad);
    };

    makeTable = function(subject) {
        let c = document.createElement("div");
        c.className = "sockeye-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col";

        let s = document.createElement("div");
        s.className = "sockeye-crumbs mdl-color-text--grey-500";
        if (subject !== "no-subject") {
            s.innerText = "Subject > " + subject;
        }

        c.appendChild(s);

        let t = document.createElement("table");
        t.className = "sockeye-table mdl-data-table mdl-js-data-table mdl-shadow--2dp";

        let tHead = document.createElement("thead");

        let tr = document.createElement("tr");

        let th1 = document.createElement("th");
        th1.className = "mdl-data-table__cell--non-numeric";
        th1.innerText = "Type";
        tr.appendChild(th1);

        let th2 = document.createElement("th");
        th2.className = "mdl-data-table__cell--non-numeric";
        th2.innerText = "Data";
        tr.appendChild(th2);

        tHead.appendChild(tr);

        t.appendChild(tHead);

        let tBody = document.createElement("tbody");
        t.appendChild(tBody);

        c.appendChild(t);
        return c
    };

    syntaxHighlight = function (json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'json-number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'json-key';
                } else {
                    cls = 'json-string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'json-boolean';
            } else if (/null/.test(match)) {
                cls = 'json-null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    };

    appendRow = function (t, e) {
        let tbody = t.getElementsByTagName("tbody")[0];

        let tr = document.createElement("tr");

        let td1 = document.createElement("td");
        td1.className = "mdl-data-table__cell--non-numeric";


        let p1 = document.createElement("pre");

        let data = e["data"];
        delete e["data"];

        p1.innerHTML = syntaxHighlight(JSON.stringify(e, null, 2));
        p1.className = "json";
        td1.appendChild(p1);

        // Chips:
        // function newChip(value, key, map) {
        //     console.log(`m[${key}] = ${value}`);
        //
        //     let os = document.createElement("span");
        //     os.className = "mdl-chip";
        //
        //     let is = document.createElement("span");
        //     is.className = "mdl-chip__text";
        //     is.innerText = `m[${key}]: ${value}`;
        //     os.appendChild(is);
        //
        //     td1.appendChild(os);
        // }
        // new Map(Object.entries(e))
        //     .forEach(newChip);

        tr.appendChild(td1);

        let td2 = document.createElement("td");
        td2.className = "mdl-data-table__cell--non-numeric";

        let p2 = document.createElement("pre");
        p2.innerHTML = syntaxHighlight(JSON.stringify(data, null, 2));
        p2.className = "json";
        td2.appendChild(p2);

        tr.appendChild(td2);

        tbody.appendChild(tr)
    };

    window.onload = function () {
        let subjects = {};

        let main = document.getElementsByTagName("main")[0].getElementsByClassName("sockeye-container")[0];

        console.log("Protocol: " + location.protocol);
        let wsURL = "ws://" + document.location.host + "/ws";
        if (location.protocol === 'https:') {
            wsURL = "wss://" + document.location.host + "/ws";
        }
        console.log("WS URL: " + wsURL);

        sock = new WebSocket(wsURL);
        sock.onopen = function () {
            console.log("connected to " + wsURL);
        };
        sock.onclose = function (e) {
            console.log("connection closed (" + e.code + ")");
        };
        sock.onmessage = function (e) {
            let t = JSON.parse(JSON.parse(e.data)); // at the moment the ws sends down a double encoded thing.

            let key = "no-subject";
            if (t["subject"])  {
                key = t["subject"]
            }

            let log = subjects[key];

            if (!log) {
                log = makeTable(key);

                injectPad(main);
                main.appendChild(log);
                injectPad(main);

                subjects[key] = log;
            }

            let doScroll = window.scrollTop > window.scrollHeight - window.clientHeight - 1;
            appendRow(log, t);
            if (doScroll) {
                window.scrollTop = window.scrollHeight - window.clientHeight;
            }
        };

        let fab = document.getElementById("fab");
        fab.onclick = function(){
            while (main.firstChild) {
                main.removeChild(main.firstChild);
            }
            subjects = {};
        };

    };
</script>