.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sockeye-logo-image {
  height: 100px;
  padding-top: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-appear {
  opacity: 0.01;
  color: red;
}

.example-appear.example-appear-active {
  opacity: 1;
  color: blue;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
  color: green;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  color: yellow;
  transition: opacity 300ms ease-in;
}

.table tr.visible.transition {
  display: table-row !important;
}
